.header { height: 50px; 
border-bottom: 2px solid 	#4682B4;
background-color: #E6E6FA; margin-top: 20px;}
/*.row  {margin-left: 0px;}*/
.header span {font-size: 20px; line-height: 50px;} 
.left {margin-left: 0px; text-align: center;
border-right: 2px solid 	#FFFAFA;}
.center{text-align: center; margin-left: 18px;
border-right: 2px solid 	#FFFAFA;}
.right {text-align: center; margin-left: 0px; }


.content .line { text-align: center; }
.content .line:nth-child(2n) {background-color:#e8edff; }
.content .line span {font-size: 16px; line-height: 40px; }
.content  .right form {margin: 0px;}
.content  .right:nth-child(2n) {background-color:#e8edff;}
.content  .right .btn {margin: 5px 0px; width: 160px;}
